:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem;
  min-height: 100vh;

  display: grid;
  gap: 1.5rem;
  place-content: center;
  justify-items: center;

  a {
    text-decoration: inherit;

    .logo {
      height: 6em;
      will-change: filter;
      transition: filter 300ms;

      &:hover {
        filter: drop-shadow(0 0 2em #646cffaa);
      }
    }
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin: 0;
  }

  .description {
    color: #888;
  }

  input[type="file"] {
    width: 10rem;
    font-size: 0;

    &::file-selector-button {
      display: block;
      width: 100%;

      cursor: pointer;
      font-size: 1rem;
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-weight: 500;
      font-family: inherit;
      background-color: #1a1a1a;
      transition: border-color 0.25s;
    }

    &:hover::file-selector-button {
      border-color: #646cff;
    }

    &:focus::file-selector-button,
    &:focus-visible::file-selector-button {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }

  #output {
    min-height: 30em;
    min-width: 40em;
    margin: 0 auto;
    white-space: pre-wrap;
    word-break: break-word;
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 0.5em;
    background-color: #1a1a1a;
    color: #eee;
    padding: 2em;
    border-radius: 2em;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  body {
    input[type="file"]::file-selector-button {
      background-color: #f9f9f9;
    }
    #output {
      background-color: #f0f0f0;
      color: #111;
    }
  }
}
